<!DOCTYPE html>
<html>
<head>
    <title>Email Page</title>
    <style type="text/css">
        
    </style>
</head>
<body>
    <div align="justify">
    <p>Hi Jesse,</p>
    <p><b>Thank you for your room booking request</b>.
    <p>Unfortunately, one or more of our Terms and Conditions was not met:</p>
    <ol>    
        
        <li> Same day requests are not processed. Forms received after 4:00pm booking for the following day are considered same day requests.</li><br>
        <li> Rooms may be booked for up to three hours.</li><br>
        <li> Rooms may not be booked on a consecutive or recurring basis.</li><br>
        <li> Rooms can be requested up to two weeks in advance. </li><br>
        <li> Room bookings cannot exceed the seating capacity of the room.</li><br>
        <li> Room has already been booked for the time period requested</li><br>
        <li> The rooms in CfE (G-building) are designated for entrepreneurial activities, training or encouragement of entrepreneurship with a primary mandate to support student-led entrepreneurial ventures.</li><br>
    </ol><br>
    <p>
    To re-submit your request once it adheres to all terms and conditions outlined on the CfE Room Booking Request form, click <a href="https://humber.ca/cfe/room-booking">here</a>.<br><br>
    Regards,<br>
    <b style="color: #173F5F;">Centre for Entrepreneurship (CfE) Team</b><br>
    Humber Institute of Technology & Advanced Learning<br>
    17 Colonel Samuel Smith Park Drive, G-building<br>
    Toronto, ON M8V 4B6<br>
   Phone: 416-675-6622 x3490<br>
    Email:<a href="mailto:cfe@humber.ca">cfe@humber.ca</a><br> 
   <a href="https://www.humber.ca/cfe">www.humber.ca/cfe</a>
    </p>
    <p>
        <img src="../../public/We are Entrepreneurs.png"><br><br>
        <a href="https://www.facebook.com/humbercfe"><img src="../../public/facebook.png"></a>
        <a href="https://twitter.com/humbercfe"><img src="../../public/twitter.png"></a>
        <a href="https://www.instagram.com/humbercfe/"><img src="../../public/instagram.png"></a><br><br>
        <img src="../../public/Eventbrite Banner Career Recharge.png">
    </p>
    <p style="color: #20639B;" align="justify">
        CONFIDENTIALITY NOTICE:<br>
        This email and attached material are intended for the use of the individual or organization to whom they are addressed and may not be distributed, copied, or disclosed to other unauthorized persons. This
        material may contain confidential and/or personal information subject to the provisions of the Freedom of Information and Protection of Privacy Act, the Municipal Freedom of Information and Protection of
        Privacy Act, and/or the Personal Health Information Protection Act. If you receive this transmission in error, please notify me immediately and delete this message. Do not email, print, copy, distribute, or
        disclose this email or its contents further. Thank you for your co-operation and assistance.
    </p>
</div>
</body>
</html>